.stalls {
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem 1rem;
}

.button {
  all: unset;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  border: none;
  background: transparent;
  color: black;
  padding: 1em;
  padding-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
