.header {
  top: 0;
  left: 0;
  width: auto;
  height: 5rem;
  background-color: pink;
  color: black;
  padding: 0 2cqw;
  margin-bottom: 1em;
  font-family: "Lato", sans-serif;
  position: sticky;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  gap: 1em;
  align-items: center;
}

.logo {
  width: 3.5em;
  height: 3.5em;
  border-radius: 100%;
  box-shadow: 0 0 0 2px white;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: black;
}
