.header {
  top: 0;
  left: 0;
  width: auto;
  height: 5rem;
  background-color: pink;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2cqw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
